.row
  .col-md-6
    #status.section
      .content
        %i.far.fa-check-square
        %h1 Status
        - if Setting&.first&.status.present?
          .status
            = Setting&.first&.status

  .col-md-6
    #contact.section
      .content
        %i.far.fa-address-card
        %h1 Contact
        .phone= Setting&.first&.phone || '+1 206-555-1212'
        .email= Setting&.first&.email || 'john.doe@example.com'
        .address= Setting&.first&.address || '123 Main Street, Anytown, 11111 USA'

.row
  .col-md-12
    #experience.section
      %h1 Experience

- @experiences.each do |experience|
  .row
    .col-md-12
      %article
        .title
          %h2= experience.title
          .name
            - if experience.url.present?
              = link_to experience.name, experience.url
            - else
              = experience.name

        - if experience.skills.present?
          .row
            .col-md-3
            .col-md-9
              .skills= experience.skills

        .row
          .col-md-3
          .col-md-9
            .description
              = experience.description

        .row
          .col-md-3
          .col-md-9
            .period.text-muted
              = experience.start_date.strftime('%B %Y')
              \-
              - if experience.end_date.present?
                = experience.end_date.strftime('%B %Y')
              - else
                Present
            - if @signed_in
              .action
                = link_to "Edit", edit_experience_path(experience)
              .action
                = button_to "Destroy", experience_path(experience), class: 'btn btn-sm btn-danger', method: :delete


.row
  - if Setting&.first&.education.present?
    .col-md-6
      #education.section
        .content
          %i.fas.fa-user-graduate
          %h1 Education
          = Setting&.first&.education
  - if Setting&.first&.open_source.present?
    .col-md-6
      #open_source.section
        .content
          %i.fas.fa-code
          %h1 Open Source Projectss
          = Setting&.first&.open_source

