.text-center
  - if Setting&.first&.status.present?
    .status
      Available


- @experiences.each do |experience|
  
  %article
    .row
      .col-md-12
        .title
          %h1= experience.title
          .name
            - if experience.url.present?
              = link_to experience.name, experience.url
            - else
              = experience.name

    .row
      .col-md-1
      .col-md-10
        .description
          = experience.description

    .row
      .col-md-1
      .col-md-10
        .period.text-muted
          = experience.start_date.strftime('%B %Y')
          \-
          - if experience.end_date.present?
            = experience.end_date.strftime('%B %Y')
          - else
            Present
